
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border: 1px solid #e0e0e0;
    width: 100%;
}

.header_left {
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 0px 20px;
    border-radius: 10px;
    color: #7c7e80;
}

.header_left input {
    border: none;
    outline: none;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c3cdd3;
}

.header_right {
    display: flex;
    gap: 15px;
    align-items: center;
}